.item {
    max-width: 250px;
    border: 1px solid slategrey;
    border-radius: 20px;
    padding: 5px;
}

.shop-item {
    max-width: 200px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-counter {
    width: 20px;
    text-align: center;
}