.item {
    max-width: 250px;
    border: 1px solid slategrey;
    border-radius: 20px;
    padding: 5px;
}

.shop-item {
    max-width: 200px;
    max-height: 200px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-counter {
    width: 20px;
    text-align: center;
}

.popout {
    position: absolute;
    max-width: 800px;
    background-color: aliceblue;
    top: 10%;
    left: 0;
    z-index: 5;
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
    border-radius: none;
}



@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

.popout > .shop-item {
    max-width: 400px;
    max-height: 400px;
}