.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    gap: 20px;
    padding: 20px;
}

a {
    color: steelblue;
}

.cart-icon, .nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cart-icon:hover {
    cursor: pointer;
}